
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1><a class="navbar-brand" href="#">The Stuff List</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_staff  %}
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Stuff List</a>
        </li>
        {% endif  %}
      </ul>

      <span class="navbar-brand" > Hello, {{request.user}}</span>
      <span><a  href="{% url 'logout' %}"> Logout </a> </span>

      <form method="get" class="form-inline my-2 my-lg-0" action="{% url 'seach2'  %}" >
        <input name='q'  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
        <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>